.stepper__progress {
  display: flex;
  height: 56px;
  padding: 16px 0;
  border-bottom: 2px solid #D7DBF5;

  @include device-md-up {
    display: none;
  }

  &__content {
    padding: 12px 24px 12px 24px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    &__text {
      min-width: 75px;
      font-family: Lato;
      font-size: 10px;
      font-weight: 900;
      line-height: 16px;
      letter-spacing: 0.8px;
      text-align: left;
    }

    &__bar{
      width: 100%;
      height: 8px;
      border-color: white;
      border-radius: 20px;
      background: #D7DBF5;
    }
  }
}