.back__button {
  margin-top: 40px;
  width: 82px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  background: none;
	border: none;
	padding: 0;

  &:hover {
    text-decoration: underline;
    color: #4F4FFF;
  }

  &__text {
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.4000000059604645px;
    text-align: center;
    color: #4F4FFF;
  }
}