.seguro__salud {
  position: relative;
  display: flex;
  height: 100%;
  padding-top: 60px;
  padding-bottom: 60px;

  @include device-md-up {
    align-items: center;
  }

  &__blur {
    &__left {
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: -10;
      content: url('../../assets/blur-asset-left-mobile.png');
  
      @include device-md-up {
        content: url('../../assets/blur-asset-left.png')
      }
    }
  
    &__right {
      position: absolute;
      bottom: 0;
      right: 0;
      top: 0;
      z-index: -10;
      content: url('../../assets/blur-asset-right-mobile.png');

      @include device-md-up {
        content: url('../../assets/blur-asset-right.png')
      }
    }
  }

  input[type="number"] {
    padding: 24px 16px 8px 16px;
    width: 100%;
    height: 56px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400px;
    color: $grey-100;
    border-radius: 0px 8px 8px 0px;

    &:focus + label, &:not(:placeholder-shown) + label{
      font-size: 12px;
      line-height: 16px;
      color: $grey-60;
      top: 0px;
      left: 0px;
      padding: 8px 16px 32px 16px;
    }

    &.is-invalid {
      outline: 2px solid red;
    }
  }

  .input__label__float {
    font-size: 16px;
    line-height: 24px;
    padding: 10px 16px 8px 16px;
    color: $grey-60;
    position: absolute;
    top: 6px;
    left: 0;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
    pointer-events: none;
  }

  button {
    height: 64px;
    padding: 18px 40px;
    border-radius: 40px;
    background-color: $grey-100;
    color: white;
    border: none;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.4px;
    font-weight: 700;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;

    @include device-md-up {
      width: 195px;
      padding: 20px 40px;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.4px;
      font-weight: 700;
    }
  }

  &__content {
    display: flex;
    gap: 128px;

    &__left {
      display: none;

      img {
        border-radius: 24px;
        max-width: 100%;
        height: auto;
      }

      @include device-md-up {
        max-width: 480px;
        display: flex;
        align-items: center;
      }
    }

    &__right {
      display: flex;
      flex-direction: column;
      gap: 24px;
      width: 100%;

      @include device-md-up {
        max-width: 353px;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }

      .input__error {
        color: red;
        margin-top: 4px;

        &::before {
          display: inline;
          content: "* ";
        }
      }

      &__title {
        display: none;

        @include device-md-up {
          display: flex;
          flex-direction: column;
          gap: 16px;
        }
      }

      &__promo {
        background: linear-gradient(86.01deg, #00F4E2 0%, #00FF7F 100%);
        border-radius: 4px;
        padding: 4px 8px;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.4px;
        color: $grey-100;
        width: 172px;
      }

      &__description {
        display: flex;
        flex-direction: column;
        gap: 8px;

        h1 {
          height: 80px;
          font-size: 32px;
          line-height: 40px;
          font-weight: 700;
          color: $grey-100
        }
  
        p {
          font-size: 14px;
          line-height: 20px;
          font-weight: 600;
          letter-spacing: 0.2px;
          color: $grey-100
        }
      }

      &__title-mobile {
        display: flex;
        flex-direction: column;
        gap: 24px;
        
        &__header {
          display: flex;
          align-items: center;
          justify-content: space-between;

          div {
            display: flex;
            flex-direction: column;
            gap: 12px;

            h1 {
              width: 188px;
              height: 72px;
              font-size: 28px;
              line-height: 36px;
              font-weight: 700;
              color: $grey-100
            }
          }
        }

        @include device-md-up {
          display: none;
        }

        img {
          border-radius: 24px;
          display: block;
        }

        hr {
          border: 1px solid #CCD1EE;
        }

        p {
          font-size: 14px;
          line-height: 20px;
          font-weight: 600;
          letter-spacing: 0.2px;
          color: $grey-100
        }
      }

      .input__documento {
        display: flex;
        border: 1px solid $grey-60;
        border-radius: 8px;

        &__tipo {
          width: fit-content;
          border-right: 1px solid #5E6488;

          select {
            font-family: 'BR Sonoma';
            width: 140px;
            height: 56px;
            border-radius: 8px 0px 0px 8px;
            padding: 16px;
            gap: 8px;

            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            background-image: url('../../assets/select-arrow.png');
            background-repeat: no-repeat, repeat;
            background-position: right 23px top 50%, 0 0;
            background-size: 8 12px, 100%;
          }
        }

        &__nro {
          width: 100%;
          position: relative;
        }
      }

      .input__celular {
        display: flex;
        border: 1px solid $grey-60;
        border-radius: 8px;
        position: relative;

        input {
          width: 100%;
          border-radius: 8px;
        }
      }

      &__legal {
        display: flex;
        flex-direction: column;
        gap: 12px;

        label {
          display: flex;
          align-items: center;
          gap: 12px;
          font-size: 14px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0.2px;

          @include device-md-up {
            font-size: 12px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0.1px;
          }

          input[type="checkbox"] {
            accent-color: $grey-100;
            width: 20px;
            height: 20px;
            border-radius: 4px;
            border: 1px solid $grey-60;
            appearance: none;
            -webkit-appearance: none;
            -webkit-transition: box-shadow 200ms;

            &:checked {
              background-color: $grey-100;

              &:before {
                content: '';
                display: block;
                width: 4px;
                height: 9px;
                border: 3px solid #fff;
                border-width: 0 2px 2px 0;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
                margin-left: 7px;
                margin-top: 4px;
              }
            }
          }

          &.is-invalid {
            color: red;
            input {
              border: 2px solid red;
            }
          }
        }

        a {
          font-size: 12px;
          font-weight: 600;
          line-height: 20px;
          letter-spacing: 0.1px;
          color: $grey-100;
        }
      }
    }
  }

  
}