.planes {
  position: relative;
  height: 100%;
  padding-top: 60px;

  &__content {
    margin-bottom: 80px;

    @include device-md-up {
      padding: 0 53px;
    }

    .back__button {
      display: none;

      @include device-md-up {
        display: flex;
      }
    }

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 32px;
      gap: 32px;

      &__select {
        display: flex;
        flex-direction: column;
        gap: 32px;

        @include device-md-up {
          flex-direction: row;
        }
      }

      &__title {
        max-width: 540px;
        height: 132px;
        display: flex;
        flex-direction: column;
        gap: 8px;

        h1 {
          font-family: Lato;
          font-weight: 700;
          letter-spacing: -0.2px;
          font-size: 28px;
          line-height: 36px;

          @include device-md-up {
            line-height: 48px;
            font-size: 40px;
            text-align: center;
            letter-spacing: -0.6px;
          }
        }

        p {
          font-family: Lato;
          font-weight: 400;
          font-size: 16px;
          line-height: 28px;
          letter-spacing: 0.1px;

          @include device-md-up {
            text-align: center;
          }
        }
      }

      @include device-md-up {
        margin-top: 56px;
      }
    }

    &__planes {
      display: flex;
      gap: 32px;
      margin-top: 22px;
      padding: 18px;
      overflow-x: hidden;

      @include device-md-up {
        margin-top: 20px;
        padding: 0;
        overflow: visible;
      }

      &__control {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        margin-top: 32px;

        @include device-md-up {
          display: none;
        }

        .control__text {
          font-family: Lato;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0.20000000298023224px;
          text-align: center;
        }
      }
    }
  }

  &__header {
    background: #edeffc;
    height: 56px;
    padding: 16px 0;
  }
}
